.first__devices-2 {
  margin-top: 150px;
}

.header__login {
  text-decoration: none;
  text-align: center;
  padding-top: 12px;
}

.btn {
  text-decoration: none;
  text-align: center;
  padding-top: 13px;
}

.first__btn-2 {
  display: none;
}
.first__btn {
  text-decoration: none;
  text-align: center;
  padding-top: 18px;
}

.btn-530 {
  text-decoration: none;
}

@media (max-width: 1200px) {
  .first__btn-div-2 {
    margin-bottom: 150px;
  }
  .first__devices-2 {
    display: none;
  }
}