@charset "UTF-8";
/* Указываем box sizing */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

.wrapper {
  overflow-x: hidden;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* ================================================================================================== */
body {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  color: #fff;
}
body._lock {
  overflow: hidden;
}

[class*=__container] {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.header {
  padding: 60px 0;
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header__logo {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 800;
}
.header__enter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-transform: uppercase;
  gap: 30px;
  margin-left: 50px;
}
.header__enter a {
  text-decoration: none;
}
.header__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.header__login {
  width: 98px;
  height: 48px;
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 8px;
  color: #fff;
  cursor: pointer;
}
.header__login:hover {
  background-color: #2b2b2b;
}
.header__devices {
  margin-top: 500px;
}

.btn {
  width: 100px;
  height: 50px;
  background: -webkit-gradient(linear, left top, right top, from(#F678F0), color-stop(186.42%, #00E8FF));
  background: linear-gradient(90deg, #F678F0 0%, #00E8FF 186.42%);
  border: none;
  border-radius: 8px;
  color: #fff;
  cursor: pointer;
}
.btn:hover {
  background: -webkit-gradient(linear, left top, right top, color-stop(20%, #F678F0), color-stop(206.42%, #00E8FF));
  background: linear-gradient(90deg, #F678F0 20%, #00E8FF 206.42%);
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.nav__item {
  margin: auto 0;
  font-size: 13px;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
  color: #CBCFD4;
}
.nav__item::after {
  content: "";
  display: block;
  background: linear-gradient(89.94deg, #E97FF1 -0.03%, #86ACF7 99.9%);
  height: 2px;
  width: 100%;
  opacity: 0;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.nav__item:hover {
  color: #fff;
}
.nav__item:hover::after {
  opacity: 1;
}

.btn-530 {
  display: none;
  width: 100px;
  height: 50px;
  text-align: center;
  background: -webkit-gradient(linear, left top, right top, from(#F678F0), color-stop(186.42%, #00E8FF));
  background: linear-gradient(90deg, #F678F0 0%, #00E8FF 186.42%);
  border: none;
  border-radius: 8px;
  color: #fff;
  padding: 15px;
  margin: 0 auto;
  margin-bottom: 30px;
  cursor: pointer;
}
.btn-530:hover {
  background: -webkit-gradient(linear, left top, right top, color-stop(20%, #F678F0), color-stop(206.42%, #00E8FF));
  background: linear-gradient(90deg, #F678F0 20%, #00E8FF 206.42%);
}

.btn-410 {
  display: none;
  width: 98px;
  height: 48px;
  padding: 15px 30px;
  text-align: center;
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 8px;
  color: #fff;
  margin: 0 auto;
  cursor: pointer;
}
.btn-410:hover {
  background-color: #2b2b2b;
}

.burger {
  display: none;
}

@media (max-width: 991.98px) {
  .burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    right: 30px;
    top: 80px;
    width: 50px;
    height: 5px;
    z-index: 5;
  }
  .burger::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #fff;
    margin-top: 15px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .burger::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    background-color: #fff;
    margin-bottom: 15px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .burger span {
    left: 0;
    top: 50%;
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: #fff;
    -webkit-transform: scale(1) translate(0px, -50%);
            transform: scale(1) translate(0px, -50%);
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .burger._active span {
    display: none;
  }
  .burger._active::before {
    top: -12.5px;
    -webkit-transform: rotate(-45deg) translate(0px, -50%);
            transform: rotate(-45deg) translate(0px, -50%);
  }
  .burger._active::after {
    bottom: -12.5px;
    -webkit-transform: rotate(45deg) translate(0px, 50%);
            transform: rotate(45deg) translate(0px, 50%);
  }

  .nav__item::after {
    display: none;
  }
  .nav__item:hover {
    color: #fff;
  }

  .header__navigation {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    margin-right: 100px;
  }
  .header__enter {
    margin-left: 50px;
  }
  .header__nav {
    overflow: auto;
    display: block;
    position: fixed;
    text-align: center;
    padding: 50px 0;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 1;
    background-color: #1E1E1E;
    -webkit-transform: translate(-100%, 0);
            transform: translate(-100%, 0);
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .header__nav._active {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }

  .nav__item {
    font-size: 24px;
  }
  .nav__item-div {
    margin-bottom: 30px;
  }
}
@media (max-width: 530px) {
  .btn-530 {
    display: block;
  }

  .btn-not-530 {
    display: none;
  }
}
@media (max-width: 420px) {
  .btn-410 {
    display: block;
  }

  .btn-not-410 {
    display: none;
  }
}
.first__title {
  display: block;
  margin-top: 50px;
  text-align: center;
}
.first__title h1 {
  font-size: 144px;
  font-weight: 700;
  background: -webkit-gradient(linear, left top, left bottom, from(#23AFE1), to(#D376E7));
  background: linear-gradient(180deg, #23AFE1 0%, #D376E7 100%);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media (max-width: 1170px) {
  .first__title h1 {
    font-size: calc(50px + 94 * ((100vw - 320px) / 850));
  }
}
.first__sub-title {
  font-size: 42px;
  font-weight: 500;
  text-align: center;
}
@media (max-width: 1170px) {
  .first__sub-title {
    font-size: calc(32px + 10 * ((100vw - 320px) / 850));
  }
}
.first__btn {
  display: block;
  margin: 50px auto;
  width: 225px;
  height: 75px;
  background-color: transparent;
  border: 1.48px solid #EB7EF1;
  border-radius: 14.8px;
  font-size: 24px;
  font-weight: 600;
  text-transform: uppercase;
  color: #fff;
  cursor: pointer;
}
.first__btn-2 {
  border: none;
  display: block;
  margin: 50px auto;
  width: 225px;
  height: 75px;
  background-color: transparent;
  border: 1.48px solid #EB7EF1;
  border-radius: 14.8px;
  font-size: 24px;
  font-weight: 600;
  text-transform: uppercase;
  color: #fff;
  cursor: pointer;
}
.first__btn-img {
  margin-left: 680px;
  margin-top: -80px;
}
.first__btn:hover {
  background-color: #2b2b2b;
}
.first__laptop {
  margin-top: -500px;
  margin-left: -80px;
}
.first__iphone {
  margin-top: 150px;
  margin-left: -80px;
}
.first__bulb {
  margin-top: -520px;
  margin-left: 1150px;
}
.first__mouse {
  margin-top: 80px;
  margin-left: 1180px;
}
.first__imac {
  margin-top: 80px;
  margin-left: 1100px;
}

@media (max-width: 1200px) {
  .first__devices {
    display: none;
  }
  .first__btn-img {
    display: none;
  }
}
.title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-transform: uppercase;
  font-size: 64px;
  font-weight: 700;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}
@media (max-width: 1170px) {
  .title {
    font-size: calc(60px + 4 * ((100vw - 320px) / 850));
  }
}
.title p {
  background: linear-gradient(89.98deg, #C385F1 0.99%, #7A91D6 97.59%);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
}
.title::after {
  content: "";
  display: block;
  position: relative;
  margin: 0 30px;
  width: 180px;
  height: 2px;
  left: 0;
  bottom: 0;
  background: linear-gradient(89.98deg, #C385F1 0.99%, #7A91D6 97.59%);
  margin-top: 90px;
  margin-left: -127px;
}

.sub-title {
  position: relative;
  font-size: 36px;
  font-weight: 700;
  text-align: center;
}
@media (max-width: 1170px) {
  .sub-title {
    font-size: calc(32px + 4 * ((100vw - 320px) / 850));
  }
}

[class*=block-text] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.schedule {
  margin-bottom: 100px;
}
.schedule__block-title {
  margin-bottom: 100px;
}
.schedule__block-title::after {
  content: "";
  display: block;
  position: relative;
  margin: 0 30px;
  width: 180px;
  height: 2px;
  left: 0;
  bottom: 0;
  background: linear-gradient(89.98deg, #C385F1 0.99%, #7A91D6 97.59%);
}
.schedule__sub-title {
  position: absolute;
  margin-top: -25px;
  margin-left: 225px;
}
.schedule__title::after {
  display: none;
}
.schedule__container {
  padding: 0 5px;
}
.schedule__rectangle {
  display: block;
  position: absolute;
  left: 50%;
  width: 7px;
  height: 1111px;
  background: -webkit-gradient(linear, left top, left bottom, from(#E781F0), color-stop(102.01%, #508FF3));
  background: linear-gradient(180deg, #E781F0 0%, #508FF3 102.01%);
}
@media (max-width: 1170px) {
  .schedule__rectangle {
    width: calc(4px + 3 * ((100vw - 320px) / 850));
  }
}
.schedule__ellipse {
  display: block;
  position: absolute;
  left: 50%;
  margin-left: -10px;
  width: 26px;
  height: 26px;
  background-color: #8D8AF2;
  border-radius: 50%;
}
@media (max-width: 1170px) {
  .schedule__ellipse {
    margin-left: calc(-6px + -4 * ((100vw - 320px) / 850));
  }
}
@media (max-width: 1170px) {
  .schedule__ellipse {
    width: calc(16px + 10 * ((100vw - 320px) / 850));
  }
}
@media (max-width: 1170px) {
  .schedule__ellipse {
    height: calc(16px + 10 * ((100vw - 320px) / 850));
  }
}
.schedule__list {
  font-size: 20px;
  font-weight: 500;
}
.schedule__date {
  position: absolute;
}
.schedule__card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
  font-size: 14px;
}
@media (max-width: 1170px) {
  .schedule__card {
    font-size: calc(12px + 2 * ((100vw - 320px) / 850));
  }
}
.schedule__card-block {
  display: block;
  padding: 30px 0;
  min-height: 90px;
  width: 500px;
  background-color: #242424;
  border-radius: 8px;
}
@media (max-width: 1170px) {
  .schedule__card-block {
    width: calc(300px + 200 * ((100vw - 320px) / 850));
  }
}
.schedule__card:last-child {
  margin-bottom: 0;
}
.schedule__time {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 70px;
  margin-right: 70px;
  font-weight: 700;
}
@media (max-width: 1170px) {
  .schedule__time {
    margin-left: calc(15px + 55 * ((100vw - 320px) / 850));
  }
}
@media (max-width: 1170px) {
  .schedule__time {
    margin-right: calc(20px + 50 * ((100vw - 320px) / 850));
  }
}
.schedule__time p {
  background: -webkit-gradient(linear, left top, right top, from(#C485F1), color-stop(186.42%, #6D8DF3));
  background: linear-gradient(90deg, #C485F1 0%, #6D8DF3 186.42%);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
}
.schedule__text {
  font-weight: 700;
}
.schedule__content {
  font-weight: 500;
}

.card-block1 {
  margin-top: -15px;
  margin-left: 53%;
}
.card-block2 {
  margin-top: 40px;
  margin-left: auto;
  margin-right: 53%;
}
.card-block3 {
  margin-top: 35px;
  margin-left: 53%;
}
.card-block3:before {
  content: "";
  display: block;
  position: absolute;
  width: 7px;
  height: 102px;
  margin-top: -30px;
  border-radius: 3px;
  background: -webkit-gradient(linear, left top, left bottom, from(#E781F0), color-stop(102.01%, #508FF3));
  background: linear-gradient(180deg, #E781F0 0%, #508FF3 102.01%);
}
@media (max-width: 1170px) {
  .card-block3:before {
    height: calc(96px + 6 * ((100vw - 320px) / 850));
  }
}
.card-block4 {
  margin-top: 60px;
  margin-left: auto;
  margin-right: 53%;
  padding: 27px 0;
}
.card-block4:after {
  content: "";
  display: block;
  position: absolute;
  width: 7px;
  height: 97px;
  margin-left: 495px;
  margin-top: -69px;
  border-radius: 3px;
  background: -webkit-gradient(linear, left top, left bottom, from(#E781F0), color-stop(102.01%, #508FF3));
  background: linear-gradient(180deg, #E781F0 0%, #508FF3 102.01%);
}
@media (max-width: 1170px) {
  .card-block4:after {
    height: calc(90px + 7 * ((100vw - 320px) / 850));
  }
}
@media (max-width: 1170px) {
  .card-block4:after {
    margin-left: calc(297px + 198 * ((100vw - 320px) / 850));
  }
}
@media (max-width: 1170px) {
  .card-block4:after {
    margin-top: calc(-63px + -6 * ((100vw - 320px) / 850));
  }
}
.card-block5 {
  margin-top: 27px;
  margin-left: 53%;
}
.card-block5:before {
  content: "";
  display: block;
  position: absolute;
  width: 7px;
  height: 164px;
  margin-top: -30px;
  border-radius: 3px;
  background: -webkit-gradient(linear, left top, left bottom, from(#E781F0), color-stop(102.01%, #508FF3));
  background: linear-gradient(180deg, #E781F0 0%, #508FF3 102.01%);
}
@media (max-width: 1170px) {
  .card-block5:before {
    height: calc(152px + 12 * ((100vw - 320px) / 850));
  }
}
.card-block6 {
  margin-top: 35px;
  margin-left: auto;
  margin-right: 53%;
  padding: 30px 0;
}
.card-block6:after {
  content: "";
  display: block;
  position: absolute;
  width: 7px;
  height: 164px;
  margin-left: 495px;
  margin-top: -133px;
  border-radius: 3px;
  background: -webkit-gradient(linear, left top, left bottom, from(#E781F0), color-stop(102.01%, #508FF3));
  background: linear-gradient(180deg, #E781F0 0%, #508FF3 102.01%);
}
@media (max-width: 1170px) {
  .card-block6:after {
    height: calc(152px + 12 * ((100vw - 320px) / 850));
  }
}
@media (max-width: 1170px) {
  .card-block6:after {
    margin-left: calc(297px + 198 * ((100vw - 320px) / 850));
  }
}
@media (max-width: 1170px) {
  .card-block6:after {
    margin-top: calc(-122px + -11 * ((100vw - 320px) / 850));
  }
}
.card-block7 {
  margin-top: 35px;
  margin-left: 53%;
}
.card-block7:before {
  content: "";
  display: block;
  position: absolute;
  width: 7px;
  height: 102px;
  margin-top: -30px;
  border-radius: 3px;
  background: -webkit-gradient(linear, left top, left bottom, from(#E781F0), color-stop(102.01%, #508FF3));
  background: linear-gradient(180deg, #E781F0 0%, #508FF3 102.01%);
}
@media (max-width: 1170px) {
  .card-block7:before {
    height: calc(96px + 6 * ((100vw - 320px) / 850));
  }
}

.date1 {
  margin-top: -15px;
  left: calc(5px + 1105 * ((100vw - 320px) / 2240));
}
.date2 {
  margin-top: 120px;
  right: calc(5px + 1105 * ((100vw - 320px) / 2240));
}
.date3 {
  margin-top: 320px;
  left: calc(5px + 1105 * ((100vw - 320px) / 2240));
}

.ellipse1 {
  margin-top: 120px;
}
.ellipse2 {
  margin-top: 318px;
}
.ellipse3 {
  margin-top: 481px;
}
.ellipse4 {
  margin-top: 603px;
}
.ellipse5 {
  margin-top: 802px;
}
.ellipse6 {
  margin-top: 1001px;
}
.ellipse7 {
  margin-top: -13px;
}

@media (max-width: 991.98px) {
  .schedule__block-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .card-block1 {
    position: absolute;
    margin: 15px auto;
    left: calc(10px + 840 * ((100vw - 320px) / 2240));
  }
  .card-block2 {
    position: absolute;
    margin: 150px auto;
    left: calc(10px + 840 * ((100vw - 320px) / 2240));
  }
  .card-block3 {
    position: absolute;
    margin: 350px auto;
    left: calc(10px + 840 * ((100vw - 320px) / 2240));
  }
  .card-block4 {
    position: absolute;
    margin: 507px auto;
    left: calc(10px + 840 * ((100vw - 320px) / 2240));
  }
  .card-block5 {
    position: absolute;
    margin: 635px auto;
    left: calc(10px + 840 * ((100vw - 320px) / 2240));
  }
  .card-block6 {
    position: absolute;
    margin: 830px auto;
    left: calc(10px + 840 * ((100vw - 320px) / 2240));
  }
  .card-block7 {
    position: absolute;
    margin: 1025px auto;
    left: calc(10px + 840 * ((100vw - 320px) / 2240));
  }
}
.faq__block-title {
  margin-bottom: 30px;
}
.faq__title::after {
  width: 130px;
}
.faq__container {
  display: block;
  padding: 0 80px;
}
.faq__accordion {
  margin-bottom: 15px;
  background: linear-gradient(92.12deg, #A547F3 0%, #34B4FF 100%);
  border-radius: 8px;
}
.faq__question {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  font-size: 22px;
  font-weight: 600;
  min-width: 100%;
  font-family: "Work Sans", sans-serif;
  color: #fff;
  padding: 20px 40px 20px 40px;
  border: none;
  background: transparent;
}
.faq__question-span {
  display: block;
  position: absolute;
  margin-left: 930px;
}
.faq__question span {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}
.faq__question span::before {
  content: "";
  display: block;
  width: 2px;
  height: 10px;
  background-color: #fff;
  -webkit-transform: rotate(135deg) translate(-2px, 0);
          transform: rotate(135deg) translate(-2px, 0);
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.faq__question span::after {
  content: "";
  display: block;
  width: 10px;
  height: 2px;
  background-color: #fff;
  -webkit-transform: rotate(-45deg) translate(-2px, 2px);
          transform: rotate(-45deg) translate(-2px, 2px);
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.faq__content {
  padding: 0;
  font-family: "Work Sans", sans-serif;
  font-size: 0px;
  font-weight: 400;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.faq__question._focus span::before {
  -webkit-transform: rotate(45deg) translate(-2px, 0);
          transform: rotate(45deg) translate(-2px, 0);
}
.faq__question._focus span::after {
  -webkit-transform: rotate(45deg) translate(1px, 3px);
          transform: rotate(45deg) translate(1px, 3px);
}
.faq__content._focus {
  margin-top: -20px;
  font-size: 18px;
  padding: 20px 40px;
}

@media (max-width: 1200px) {
  .faq__question-span {
    margin-left: 85%;
  }
  .faq__container {
    padding: 0 10px;
  }
}
@media (max-width: 991.98px) {
  .faq {
    margin-top: 1300px;
  }
  .faq__block-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media (max-width: 550px) {
  .faq__question-span {
    position: relative;
    margin-left: 150px;
  }
}
@media (max-width: 550px) and (max-width: 1170px) {
  .faq__question-span {
    margin-left: calc(10px + 140 * ((100vw - 320px) / 850));
  }
}
.panelists {
  margin-top: 0px;
}
@media (max-width: 1170px) {
  .panelists {
    margin-top: calc(-100px + 100 * ((100vw - 320px) / 850));
  }
}
.panelists__block-title {
  margin-top: 200px;
  margin-bottom: 50px;
}
.panelists__title {
  font-size: 64px;
}
@media (max-width: 1170px) {
  .panelists__title {
    font-size: calc(56px + 8 * ((100vw - 320px) / 850));
  }
}
.panelists__title::after {
  width: 330px;
  margin-left: -330px;
}
@media (max-width: 1170px) {
  .panelists__title::after {
    width: calc(290px + 40 * ((100vw - 320px) / 850));
  }
}
@media (max-width: 1170px) {
  .panelists__title::after {
    margin-left: calc(-290px + -40 * ((100vw - 320px) / 850));
  }
}
.panelists__swiper {
  margin: 0 20px;
}
.panelists__picture-img {
  min-width: 174px;
  min-height: 174px;
  border-radius: 6px;
}
.panelists__picture-text {
  margin-left: 7px;
  margin-top: -85px;
  padding-bottom: 15px;
}
.panelists__picture-sup-title {
  font-family: "Montserrat", sans-serif;
  color: #F27A54;
  font-size: 10px;
  font-weight: 700;
}
.panelists__picture-title {
  font-size: 24px;
  font-weight: 400;
}
.panelists__picture-sub-title {
  font-size: 15px;
  font-weight: 400;
}

@media (max-width: 1200px) {
  .panelists__container {
    padding: 0 10px;
  }
}
.sponsors {
  margin-top: 200px;
}
@media (max-width: 1170px) {
  .sponsors {
    margin-top: calc(100px + 100 * ((100vw - 320px) / 850));
  }
}
.sponsors__title {
  font-size: 64px;
  line-height: 1.2;
}
@media (max-width: 1170px) {
  .sponsors__title {
    font-size: calc(54px + 10 * ((100vw - 320px) / 850));
  }
}
.sponsors__title::after {
  margin: 0;
  width: 490px;
  margin-left: -490px;
  margin-top: 90px;
}
@media (max-width: 1170px) {
  .sponsors__title::after {
    width: calc(420px + 70 * ((100vw - 320px) / 850));
  }
}
@media (max-width: 1170px) {
  .sponsors__title::after {
    margin-left: calc(-420px + -70 * ((100vw - 320px) / 850));
  }
}
.sponsors__card-title {
  margin-top: 50px;
  text-transform: uppercase;
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 60px;
}
.sponsors__card-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 75px;
}
.sponsors__swiper {
  display: none;
}
.sponsors__apply {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 50px;
}
.sponsors__question {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 24px;
  font-weight: 600;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 50px;
}
@media (max-width: 1170px) {
  .sponsors__question {
    margin-right: calc(10px + 40 * ((100vw - 320px) / 850));
  }
}

@media (max-width: 1200px) {
  .sponsors__container {
    padding: 0 10px;
  }
}
@media (max-width: 900px) {
  .sponsors__swiper {
    display: block;
  }
  .sponsors__card-items {
    display: none;
  }
}
@media (max-width: 452px) {
  .sponsors__title::after {
    margin-top: 150px;
    margin-left: -300px;
  }
}
.prizes {
  margin-top: 200px;
}
@media (max-width: 1170px) {
  .prizes {
    margin-top: calc(100px + 100 * ((100vw - 320px) / 850));
  }
}
.prizes__title::after {
  width: 210px;
  margin-left: -210px;
}
@media (max-width: 1170px) {
  .prizes__title::after {
    width: calc(200px + 10 * ((100vw - 320px) / 850));
  }
}
@media (max-width: 1170px) {
  .prizes__title::after {
    margin-left: calc(-200px + -10 * ((100vw - 320px) / 850));
  }
}
.prizes__img {
  width: 65px;
  height: 72px;
}
.prizes__cards {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px;
}
.prizes__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #242424;
  border-radius: 8px;
  width: 275px;
  height: 290px;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.prizes__card:hover {
  -webkit-box-shadow: 0px 0px 10px #636363;
          box-shadow: 0px 0px 10px #636363;
}
.prizes__card-sup-title {
  margin-top: 25px;
  font-size: 23px;
  font-weight: 700;
}
.prizes__card-sup-title-4 {
  margin-top: 40px;
  margin-bottom: 20px;
}
.prizes__card-title {
  font-size: 23px;
  font-weight: 700;
}
.prizes__card-sub-title {
  margin-top: 20px;
  font-size: 14px;
  font-weight: 300;
}

.webinar {
  margin-top: 100px;
}
.webinar__title::after {
  width: 300px;
  margin-left: -300px;
}
@media (max-width: 1170px) {
  .webinar__title::after {
    width: calc(260px + 40 * ((100vw - 320px) / 850));
  }
}
@media (max-width: 1170px) {
  .webinar__title::after {
    margin-left: calc(-260px + -40 * ((100vw - 320px) / 850));
  }
}
.webinar__resume {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1170px;
  min-height: 370px;
  background-color: #242424;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.webinar__resume-img {
  margin: 0 50px;
  padding: 20px;
  min-width: 310px;
  min-height: 310px;
}
.webinar__resume-text {
  padding: 20px;
}
.webinar__resume-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.webinar__resume-title {
  font-size: 48px;
}
@media (max-width: 1170px) {
  .webinar__resume-title {
    font-size: calc(44px + 4 * ((100vw - 320px) / 850));
  }
}
.webinar__resume-title::after {
  display: none;
}
.webinar__resume-name {
  margin-left: 20px;
  font-size: 30px;
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 1170px) {
  .webinar__resume-name {
    font-size: calc(22px + 8 * ((100vw - 320px) / 850));
  }
}
.webinar__resume-second {
  display: block;
  padding-bottom: 20px;
}
.webinar__resume-instagram {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.webinar__resume-instagram p {
  font-size: 30px;
  font-weight: 300;
  margin-left: 15px;
}
@media (max-width: 1170px) {
  .webinar__resume-instagram p {
    font-size: calc(24px + 6 * ((100vw - 320px) / 850));
  }
}
.webinar__resume-calendar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.webinar__resume-calendar p {
  font-size: 30px;
  font-weight: 300;
  margin-left: 15px;
}
@media (max-width: 1170px) {
  .webinar__resume-calendar p {
    font-size: calc(24px + 6 * ((100vw - 320px) / 850));
  }
}
.webinar__resume-clock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.webinar__resume-clock p {
  font-size: 30px;
  font-weight: 300;
  margin-left: 15px;
}
@media (max-width: 1170px) {
  .webinar__resume-clock p {
    font-size: calc(24px + 6 * ((100vw - 320px) / 850));
  }
}
.webinar__ment {
  margin: 50px 0;
  background-color: #242424;
  max-width: 1170px;
  min-height: 600px;
}
.webinar__ment-text {
  padding: 40px 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.webinar__ment-title {
  font-size: 48px;
}
@media (max-width: 1170px) {
  .webinar__ment-title {
    font-size: calc(36px + 12 * ((100vw - 320px) / 850));
  }
}
.webinar__ment-title::after {
  display: none;
}
.webinar__ment-sub-title {
  margin: 0;
  font-size: 36px;
  position: relative;
}
@media (max-width: 1170px) {
  .webinar__ment-sub-title {
    font-size: calc(30px + 6 * ((100vw - 320px) / 850));
  }
}
.webinar__ment-img {
  width: 150px;
  height: 150px;
}
.webinar__ment-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 40px;
  padding: 0 50px;
}
.webinar__ment-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}
.webinar__ment-person {
  margin-top: 30px;
  font-size: 16px;
  font-weight: 400;
}
.webinar__ment-name {
  font-weight: 600;
}
.webinar__ment-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 70px;
  padding-bottom: 20px;
}
.webinar__ment-youtube {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 30px;
  font-weight: 300;
}
@media (max-width: 1170px) {
  .webinar__ment-youtube {
    font-size: calc(20px + 10 * ((100vw - 320px) / 850));
  }
}
.webinar__ment-youtube img {
  margin-right: 10px;
  height: 25px;
  width: 35px;
}
.webinar__ment-date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 30px;
  font-weight: 300;
}
@media (max-width: 1170px) {
  .webinar__ment-date {
    font-size: calc(24px + 6 * ((100vw - 320px) / 850));
  }
}
.webinar__ment-date img {
  margin-right: 10px;
  height: 25px;
  width: 35px;
}
.webinar__ment-time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 30px;
  font-weight: 300;
}
@media (max-width: 1170px) {
  .webinar__ment-time {
    font-size: calc(24px + 6 * ((100vw - 320px) / 850));
  }
}
.webinar__ment-time img {
  margin-right: 10px;
  height: 25px;
  width: 35px;
}

@media (max-width: 1160px) {
  .webinar__resume-main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .webinar__resume-name {
    margin-top: 50px;
    margin-left: -250px;
    margin-bottom: 20px;
  }
}
@media (max-width: 900px) {
  .webinar__resume {
    display: block;
  }
  .webinar__resume-text {
    padding: 0 5px;
  }
  .webinar__resume-img {
    display: block;
    margin: 0 auto;
  }
  .webinar__resume-main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .webinar__resume-second {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media (max-width: 340px) {
  .webinar__resume-img {
    padding-left: 0px;
  }
}